<!doctype html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Видеовстреча — OPTRF</title>

        <script src="../js/Iframe.js" defer></script>

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const domain = window.location.host;
                const options = {
                    room: 'test',
                    roomPassword: 0,
                    name: 'Гость',
                    audio: 0,
                    video: 0,
                    screen: 0,
                    hide: 0,
                    notify: 0,
                    duration: 'unlimited', // HH:MM:SS
                    token: null,
                    width: '100vw',
                    height: '100vh',
                    parentNode: document.querySelector('#meet'),
                };
                const api = new IframeApi(domain, options);
            });
        </script>
    </head>
    <body>
        <div id="meet"></div>
    </body>
</html>
